@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply text-gray-600 hover:text-gray-900 transition-colors duration-200 font-medium dark:text-gray-300 dark:hover:text-white;
  }

  .mobile-nav-link {
    @apply block py-2 text-gray-600 hover:text-gray-900 transition-colors duration-200 dark:text-gray-300 dark:hover:text-white;
  }
}